* input.ou_input
{
    color: #f2f2f2 !important;
    font-size: 18px !important;
    background: #142952 !important;
    border: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #234790 !important;
    width: 100% !important;
}

* input.ou_input2
{
    color: #f2f2f2 !important;
    font-size: 14px !important;
    background: #142952 !important;
    border: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height:28px !important;
}

a.ou_button,
a.ou_button:visited,
a.ou_button:link,
a.ou_button:active
{
    color: #f2f2f2 !important;
    border-radius:10px; 
    background:#1f3d7a; 
    text-decoration: none; 
    font-size: 18px !important;
    cursor:pointer;
    padding:10px;
}

a.ou_button:hover
{
    background: #00264d; 
    color: #f2f2f2 !important;   
    text-decoration: none !important;
    font-size: 18px !important;
}

a.ou_menu,
a.ou_menu:visited,
a.ou_menu:link,
a.ou_menu:active
{
    color: #0073e6 !important; 
    text-decoration: none; 
    font-size: 18px !important;
    cursor:pointer;
    margin:0px 30px 0px 0px !important;
}

a.ou_menu:hover
{
    color: #f2f2f2 !important;   
    text-decoration: none !important;
    font-size: 18px !important;
    margin:0px 30px 0px 0px !important;
}

a.ou_photouser,
a.ou_photouser:visited,
a.ou_photouser:link,
a.ou_photouser:active
{
    color: #0073e6 !important; 
    text-decoration: none; 
    font-size: 18px !important;
    cursor:pointer;
}

a.ou_photouser:hover
{
    color: #f2f2f2 !important;   
    text-decoration: none !important;
    font-size: 18px !important;
}